/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';

$light: #b2dfef;
$normal: #80cbe4;
$deep: #4db6d9;

html, body {
  padding: 0;
  margin: 0;
  list-style-type: none;
  background-color: $light;
  height: 100%;
  width: 100%;
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
}
.wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}
.canvas-wrapper {
  height: 300px;
  width: 800px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: $normal;
  font-size: 0;
}
#main-canvas {
  display: inline-block;
  background-color: white;
}
div.control-panel {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  padding: 0;
  vertical-align: top;
  width: 500px;
  border: none;

  div.input-group {
    transition: .5s;
    label {
      box-sizing: border-box;
      font-size: 20pt;
      color: white;
      display: inline-block; 
      width: 50px;
      height: 50px;
      line-height: 50px;
      text-align: center;
      margin: 0;
      border: 1pt solid $normal;
    }
    label:hover {
      transition: .25s;
      background-color: $light;
    }
    input {
      position: absolute;
      top: -1000pt;
    }
    input:checked + label {
      background-color: $deep;
    }
  }
  div.button-group {
    button {
      vertical-align: top;
      width: 125px;
      height: 75px;
      font-size: 16px;
      color: white;
      background-color: $normal;
      border: none;
      border-top: 1px solid $light;
      border-bottom: 1px solid $light;
    }
    button:focus {
      outline: none;
    }
    button:hover {
      transition: .25s;
      background-color: $light;
    }
    button + button {
      border-left: 1px solid $light;
    }
  }
  div#console {
    overflow: auto;
    height: 175px;
    p {
      display: inline-block;
      font-size: 14px;
      margin: 0 5pt 10pt 10pt;
      height: 25pt;
      padding: 0 10pt;
      border-radius: 12.5pt;
      line-height: 25pt;
      background-color: $deep;
      color: white;
    }
    p:first-of-type {
      margin-top: 10pt;
    }
    span.time-string {
      display: inline-block;
      font-size: 10px;
      height: 25pt;
      line-height: 25pt;
      color: white;
    }
  }
}

.warning {
  background-color: #f1749a;
  transition: 0.5;
}
