/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';

$light: #b2dfef;
$normal: #80cbe4;
$deep: #4db6d9;

html, body {
  padding: 0;
  margin: 0;
  list-style-type: none;
  background-color: $light;
  height: 100%;
  width: 100%;
}
.wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}
.canvas-wrapper {
  height: 300px;
  width: 800px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: $deep;
}
#main-canvas {
  display: inline-block;
  background-color: white;
}
div.control-panel {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  vertical-align: top;
  width: 490px;
  padding: 10pt;
  border: none;
}
